<script>
    $(document).ready(function() {
        const items = $('.sItem'); 
        const item = $('.sItem--offline'); 
        const startZoom = 6; 
        const startLat = 51.1642;
        const startLon = 10.4541;

        console.log('Document ready, initializing map...');
        
        var mymap = L.map('map', {scrollWheelZoom: false}).setView([startLat, startLon], startZoom);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright" target="_blank" rel="noopener">OpenStreetMap</a> contributors | <a href="javascript:resetMap();">Reset map</a>'
        }).addTo(mymap);

        L.control.locate().addTo(mymap);

        mymap.on('click', () => { mymap.scrollWheelZoom.disable();});
        mymap.on('mouseout', () => { mymap.scrollWheelZoom.enable();});

        var markers = L.markerClusterGroup();

        for(let i = 0; i < items.length; i++) {
            let iLat = items[i].getAttribute('data-lat');
            let iLon = items[i].getAttribute('data-lon');

            if(!isEmpty(iLat) | !isEmpty(iLon)) {
                let name = items[i].getAttribute('data-name');
                let inf = items[i].getAttribute('data-inf');
                let lin = items[i].getAttribute('data-link');
                markers.addLayer(L.marker([iLat,iLon],{key:iLat+'__'+iLon}).bindPopup("<b>" + name + "</b>" + "<br>" + inf + "<br>" + '<a href="' + lin + '" target="_blank">Mehr Informationen</a>' )); 
            }
        }

        mymap.addLayer(markers);

        item.click(function(){
            let ct = $(this);
            let pt = ct.parent(); 
            let pLat = pt.attr('data-lat');
            let pLon = pt.attr('data-lon');
            let id = pLat + '__' + pLon;

            if(!isEmpty(pLat) | !isEmpty(pLon)) {
                markers.eachLayer(function(layer) {
                    if(layer.options.key === id) {
                        mymap.setView([pLat,pLon], 12); 
                        layer.openPopup();
                    }
                });
            }
        });

        window.resetMap = function() {
            console.log('Resetting map...');
            mymap.closePopup();
            mymap.setView([startLat, startLon], startZoom);
        };

        window.findProject = function() {
            console.log('Finding project...');
            const searchInput = $('#projectfinder');
            const hidden = 'sItem--hidden';
            const result = $('#result');

            let filter = searchInput.val().toUpperCase();
            let count = 0;

            markers.clearLayers();

            for (let i = 0; i < items.length; i++) {
                let inf = items[i].getAttribute('data-inf').toUpperCase();
                let loc = items[i].getAttribute('data-loc').toUpperCase();
                if (inf.indexOf(filter) > -1 || loc.indexOf(filter) > -1) {
                    items[i].classList.remove(hidden);
                    let iLat = items[i].getAttribute('data-lat');
                    let iLon = items[i].getAttribute('data-lon');
                    if (!isEmpty(iLat) && !isEmpty(iLon)) {
                        let name = items[i].getAttribute('data-name');
                        let lin = items[i].getAttribute('data-link');
                        markers.addLayer(L.marker([iLat, iLon], {key: iLat + '__' + iLon}).bindPopup("<b>" + name + "</b>" + "<br>" + inf + "<br>" + '<a href="' + lin + '" target="_blank">Mehr Informationen</a>'));
                        count++;
                    }
                } else {
                    items[i].classList.add(hidden);
                }
            }

            mymap.addLayer(markers);

            result.html(count + ' Projekte - <a href="javascript:clearSearch();">Zurücksetzen</a>');
        };

        window.clearSearch = function() {
            console.log('Clearing search...');
            document.getElementById('projectfinder').value = '';
            findProject();
            resetMap();
        };

        function isEmpty(str) {
            return (!str || 0 === str.length);
        }
    });
</script>
